body {
    background-image: url(/images/newwww.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.card {
    background-image: url(/images/newwww.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}