.section {
    padding: 100px 20px;
    min-height: 100vh;
    color: white;
}

#home {
    background-image: url(/images/1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

#about {
    background-color: #3498db;
}

#services {
    background-color: #9b59b6;
}

#contact {
    background-color: #e74c3c;
}

html {
    scroll-behavior: smooth;
}

.section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.section.animate {
    opacity: 1;
    transform: translateY(0);
}