<!DOCTYPE html>
<html lang="en">
<!-- Requesting header area from common header page -> header.html using ThymeLeaf Function -->

<head th:replace="header :: headerFragment"></head>

<!-- This is a unique element in head area -->

<head>
  <!-- link external css file -->
  <link rel="stylesheet" href="/css/order.css">
</head>

<body>

  <!-- nav bar -->
  <nav th:replace="topnavbar :: topNavbarFragment"></nav>

  <div class="container-fluid">
    <div class="row mt-2 mb-3"></div>
    <div class="row mt-2 mb-5">
      <div class="col-3"></div>
      <div class=" col-6 text-center fw-bold title text-light" style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
        <h4><i class=" fa-solid fa-cart-plus"></i> Customer Order Management</h4>
      </div>
      <div class="col-3"></div>

    </div>




    <div class="row mt-2">
      <div class="col-8"></div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark col-3"
        style="height: 30px;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" data-bs-toggle="modal"
        data-bs-target="#orderForm">
        <h6><i class="fa-solid fa-plus"></i>
          <b>Add a customer Order</b>
        </h6>
      </button>



      <!-- Modal -->
      <div class="modal fade modal-xl" id="orderForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">


              <!-- Tabs -->
              <ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="tabIndividual" data-bs-toggle="pill" data-bs-target="#pills-home"
                    style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" type=" button" role="tab"
                    aria-controls="pills-home" aria-selected="true">Individual
                    Orders</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link " id="tabShop" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" type=" button" role="tab"
                    aria-controls="pills-profile" aria-selected="false"
                    onclick="customerorder.customer_order_type_id = { id: 2, type: 'Shop' }">Shop Orders</button>
                </li>

              </ul>



              <!-- Tab contents -->
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <!-- Tab contents -> Individual Orders -->
                  <form onsubmit="return false " id="formIndividual">

                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-6">
                            <div class="card"
                              style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                              <div class="card-body">
                                <form onsubmit="return false" id="formIndividualOrders">

                                  <div class="row">



                                    <div class="col">
                                      <label for="selectCustomerName1" class="form-label"><b>Customer Name
                                          :<span class="text-danger">*</span></b></label>
                                      <select class="form-select" id="selectCustomerName1"
                                        onchange="dynamicElementValidator(this,'customerorder','customer_id');"></select>
                                    </div>

                                    <div class="col">
                                      <div class="mb-3">
                                        <label for="dateRequiredDate1" class="form-label"><b>Required Date:<span
                                              class="text-danger">*</span></b></label>
                                        <input type="date" class="form-control" id="dateRequiredDate1"
                                          onchange="customerorder.required_date = this.value">

                                      </div>
                                    </div>


                                  </div>

                                  <div class="row">




                                    <div class="col">
                                      <div class="mb-3">
                                        <label for="textRequiredTime1" class="form-label"><b>Required Time:<span
                                              class="text-danger">*</span></b></label>
                                        <input type="time" class="form-control" id="textRequiredTime1"
                                          onchange="customerorder.required_time = this.value;">
                                      </div>

                                    </div>

                                    <div class="col-6">
                                      <div class="mb-3">
                                        <label for="textTotalPrice1" class="form-label"><b>Total Price:<span
                                              class="text-danger">*</span></b></label>
                                        <input type="text" class="form-control" id="textTotalPrice1"
                                          placeholder="Enter  Total Price...!"
                                          onkeyup="customerorder.total_price = this.value; discountPriceGenerator();">

                                      </div>


                                    </div>
                                  </div>


                                  <div class="row">
                                    <div class="col">
                                      <div class="mb-3">
                                        <label for="textDiscountedPrice" class="form-label"><b>Discounted
                                            Price:<span class="text-danger">*</span></b></label>
                                        <input type="text" class="form-control" id="textDiscountedPrice"
                                          placeholder="Enter Discounted Price...!">
                                      </div>

                                    </div>

                                    <div class="col">
                                      <div class="mb-3">
                                        <label for="textAdvancePayment1" class="form-label"><b>Advanced Payment:<span
                                              class="text-danger">*</span></b></label>
                                        <input type="text" class="form-control" id="textAdvancePayment1"
                                          placeholder="Enter Advance Payment Amount..!"
                                          onkeyup="customerorder.advanced_payment = this.value ; generateDuePayment()">

                                      </div>


                                    </div>

                                  </div>


                                  <div class="row mt-2 mb-3">
                                    <div class="col-6">
                                      <div class="mb-3">
                                        <label for="textDuePayment1" class="form-label"><b>Due Payment:<span
                                              class="text-danger">*</span></b></label>
                                        <input type="text" class="form-control" id="textDuePayment1"
                                          placeholder="Enter Due Payment Amount..!">

                                      </div>


                                    </div>

                                  </div>









                                  <!-- Collection Method Radio Buttons -->
                                  <div class="row mt-4">
                                    <div class="col">
                                      <label class="form-label"><b>Collection Method:<span
                                            class="text-danger">*</span></b></label>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="collectionMethod"
                                          onchange="radioElementValidator();" id="pickupRadio" value="tobecollected">
                                        <label class="form-check-label" for="pickupRadio">To be collected</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="collectionMethod"
                                          onchange="radioElementValidator();" id="deliveryRadio" value="tobedelivered">
                                        <label class="form-check-label" for="deliveryRadio">To be delivered</label>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Collapse Section -->
                                  <div class="collapse mt-3" id="deliveryDetails">
                                    <div class="card card-body"
                                      style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">

                                      <div class="row">
                                        <div class="col">
                                          <div class="mb-3">
                                            <label for="textDeliveryAddress1" class="form-label"><b>Delivery
                                                Address:<span class="text-danger">*</span></b></label>
                                            <input type="text" class="form-control" id="textDeliveryAddress1"
                                              placeholder="Please Enter Your Address....!"
                                              onkeyup="customerorder.required_address = this.value;">
                                          </div>

                                        </div>

                                        <div class="col">
                                          <label for="selectDeliveryRoute1" class="form-label"><b>Delivery Route
                                              :<span class="text-danger">*</span></b></label>
                                          <select class="form-select" id="selectDeliveryRoute1"
                                            onchange="dynamicElementValidator(this,'customerorder','vehicle_route_id');"></select>
                                        </div>


                                      </div>


                                    </div>
                                  </div>


                                  <div class=" row mb-3">

                                    <label for="textNoteIndividual" class="form-label fw-bold">Note :</label>
                                    <textarea class="form-control" id="textNoteIndividual" rows="3"></textarea>

                                  </div>



                                </form>

                              </div>
                            </div>

                          </div>
                          <div class="col-6">
                            <div class="card">
                              <div class="card-body">
                                <div class="card"
                                  style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="  text-center fw-bold title text-light">
                                        <h5>Customer Order Inner Form</h5>
                                      </div>

                                      <div class="row"></div>
                                      <div class="row"></div>

                                    </div>
                                    <div class="row">
                                      <div class="col">
                                        <div class="mb-3">
                                          <label for="txtItemName" class="form-label"><b>Item Name:<span
                                                class="text-danger">*</span></b></label>
                                          <input type="text" class="form-control" id="txtItemName"
                                            placeholder="Ex: Enter Item Name">
                                          <div class="valid-feedback">
                                            Looks good!
                                          </div>
                                          <div class="invalid-feedback">
                                            Looks not good!
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col">

                                        <div class="mb-3">
                                          <label for="txtItemQuantity" class="form-label"><b>Item Quantity:<span
                                                class="text-danger">*</span></b></label>
                                          <input type="text" class="form-control" id="txtItemQuantity"
                                            placeholder="Ex: Enter Item Quantity">
                                          <div class="valid-feedback">
                                            Looks good!
                                          </div>
                                          <div class="invalid-feedback">
                                            Looks not good!
                                          </div>
                                        </div>

                                      </div>


                                    </div>




                                    <div class="row mt-2">

                                      <div class="col-3 text-start">
                                      </div>
                                      <div class="col-9 text-end">
                                        <button type="reset" class="btn btn-info"
                                          style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                                        <button type=" submit" class="btn btn-success"
                                          style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"><i
                                            class=" fa-solid fa-plus"></i>Add</button>




                                      </div>


                                    </div>



                                  </div>
                                </div>

                                <br><br>

                                <div class="card"
                                  style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                  <div class="card-body">

                                    <div class="row mt-2 mb-3">
                                      <div class="  text-center fw-bold title text-light">
                                        <h5>Customer Order Inner Table</h5>
                                      </div>
                                    </div>
                                    <div class="row mt-2 mb-3">
                                      <table class="table table-hover" id="customerInnerTable">
                                        <thead class="table-dark">
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Item Quantity</th>
                                            <th scope="col">Modify</th>

                                          </tr>
                                        </thead>
                                        <tbody id="tableInnerCustomerBody">

                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>


                                        </tbody>
                                      </table>

                                    </div>



                                  </div>
                                </div>



                              </div>
                            </div>


                          </div>

                        </div>

                        <div class="row mt-2">

                          <div class="col-3 text-start">
                            <button type="reset" class="btn btn-info"
                              style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>


                          </div>
                          <div class=" col-9 text-end" id="buttonContainer">
                            <button type="submit" class="btn btn-warning me-2" id="buttonUpdate1"
                              style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" onclick=" buttonOrderUpdate1()"
                              ;>Update</button>

                            <button type="submit" class="btn btn-success " id="buttonSubmit1"
                              style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" onclick=" buttonOrderSubmit1()"><i
                                class=" fa-solid fa-plus"></i>Add</button>


                          </div>


                        </div>

                      </div>
                    </div>








                  </form>

                </div>


                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <!-- Tab contents -> Shop Customer -->

                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-6">
                          <div class="card"
                            style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                            <div class="card-body">
                              <form onsubmit="return false " id="formShop">


                                <div class="row mt-2">
                                  <div class="col">
                                    <label for="selectCustomerName2" class="form-label"><b>Customer Name :<span
                                          class="text-danger">*</span></b></label>
                                    <select class="form-select" id="selectCustomerName2"
                                      onchange="dynamicElementValidator(this,'customerorder','customer_id');"></select>
                                  </div>

                                  <div class="col">
                                    <div class="mb-3">
                                      <label for="dateRequiredDateShopCustomer2" class="form-label"><b>Required
                                          Date:</b></label>
                                      <input type="date" class="form-control" id="dateRequiredDateShopCustomer2"
                                        onchange="customerorder.required_date = this.value">

                                    </div>
                                  </div>



                                </div>




                                <div class="row">





                                  <div class="col">
                                    <label for="selectSession2" class="form-label"><b>Session :<span
                                          class="text-danger">*</span></b></label>
                                    <select class="form-select" id="selectSession2"
                                      onchange="dynamicElementValidator(this,'customerorder','production_session_id');"></select>
                                  </div>

                                  <div class="col-6">
                                    <div class="mb-3">
                                      <label for="textTotalPrice2" class="form-label"><b>Total Price:</b></label>
                                      <input type="text" class="form-control" id="textTotalPrice2"
                                        placeholder="Enter Total Price..!"
                                        onkeyup="customerorder.total_price = this.value">

                                    </div>
                                  </div>



                                </div>


                                <div class="row">
                                  <div class="col">
                                    <label class="form-label"><b>Order Nature:<span
                                          class="text-danger">*</span></b></label>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="orderNature" id="justOnceRadio"
                                        value="justonce" onchange="orderNatureRadioValidator()">
                                      <label class="form-check-label" for="justOnceRadio">Just Once</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="orderNature"
                                        id="recurrentRadio" value="recurrent" onchange="orderNatureRadioValidator()">
                                      <label class="form-check-label" for="recurrentRadio">Recurrent</label>
                                    </div>
                                  </div>
                                </div>


                                <!-- Collapse Section -->
                                <div class="collapse mt-3" id="recurentDetails">
                                  <div class="card card-body"
                                    style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">

                                    <div class="row">
                                      <div class="col">
                                        <div class="mb-3">
                                          <label for="dateFromDate" class="form-label"><b>From
                                              :<span class="text-danger">*</span></b></label>
                                          <input type="date" class="form-control" id="dateFromDate"
                                            onchange="customerorder.from_date = this.value">
                                        </div>

                                      </div>


                                      <div class="col">
                                        <div class="mb-3">
                                          <label for="dateToDate" class="form-label"><b>To
                                              :<span class="text-danger">*</span></b></label>
                                          <input type="date" class="form-control" id="dateToDate"
                                            onchange="customerorder.to_date = this.value">
                                        </div>

                                      </div>



                                    </div>


                                  </div>
                                </div>



                                <div class=" row mb-3">

                                  <label for="textNoteShop" class="form-label fw-bold">Note :</label>
                                  <textarea class="form-control" id="textNoteShop" rows="3"></textarea>

                                </div>



                              </form>

                            </div>

                          </div>
                        </div>


                        <div class="col-6">
                          <div class="card">
                            <div class="card-body">
                              <div class="card"
                                style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="  text-center fw-bold title text-light">
                                      <h5>Customer Order Inner Form</h5>
                                    </div>

                                    <div class="row"></div>
                                    <div class="row"></div>

                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <div class="mb-3">
                                        <label for="txtItemName" class="form-label"><b>Item Name:<span
                                              class="text-danger">*</span></b></label>
                                        <input type="text" class="form-control" id="txtItemName"
                                          placeholder="Ex: Enter Item Name">
                                        <div class="valid-feedback">
                                          Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                          Looks not good!
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col">

                                      <div class="mb-3">
                                        <label for="txtItemQuantity" class="form-label"><b>Item Quantity:<span
                                              class="text-danger">*</span></b></label>
                                        <input type="text" class="form-control" id="txtItemQuantity"
                                          placeholder="Ex: Enter Item Quantity">
                                        <div class="valid-feedback">
                                          Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                          Looks not good!
                                        </div>
                                      </div>

                                    </div>


                                  </div>




                                  <div class="row mt-2">

                                    <div class="col-3 text-start">
                                    </div>
                                    <div class="col-9 text-end">
                                      <button type="reset" class="btn btn-info"
                                        style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901)">Clear</button>

                                      <button type="submit" class="btn btn-success"
                                        style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901)"><i
                                          class="fa-solid fa-plus"></i>Add</button>




                                    </div>


                                  </div>



                                </div>
                              </div>

                              <br><br>

                              <div class="card"
                                style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                <div class="card-body">

                                  <div class="row mt-2 mb-3">
                                    <div class="  text-center fw-bold title text-light">
                                      <h5>Customer Order Inner Table</h5>
                                    </div>
                                  </div>
                                  <div class="row mt-2 mb-3">
                                    <table class="table table-hover" id="customerInnerTable">
                                      <thead class="table-dark">
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Item Name</th>
                                          <th scope="col">Item Quantity</th>
                                          <th scope="col">Session</th>
                                          <th scope="col">Modify</th>

                                        </tr>
                                      </thead>
                                      <tbody id="tableInnerCustomerBody">

                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                      </tbody>
                                    </table>

                                  </div>



                                </div>
                              </div>



                            </div>
                          </div>


                        </div>

                      </div>

                    </div>

                    <div class="row mt-2">

                      <div class="col-3 text-start">
                        <button type="reset" class="btn btn-info ms-2"
                          style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901)">Clear</button>


                      </div>
                      <div class="col-9 text-end" id="buttonContainer">
                        <button type="submit" class="btn btn-warning me-2" id="buttonUpdate2"
                          style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901)"
                          onclick="buttonOrderUpdate2()">Update</button>

                        <button type="submit" class="btn btn-success me-2" id="buttonSubmit2"
                          style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901)" onclick="buttonOrderSubmit2()"><i
                            class=" fa-solid fa-plus"></i>Add</button>




                      </div>


                    </div>

                  </div>
                </div>




              </div>

            </div>



          </div>

        </div>
      </div>
    </div>



    <!-- model view/print -->
    <div class="modal " id="modalOrderView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalOrderView">Print Order Table</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <div class="card">
              <div class="card-body form-area">
                <table class="table table-hover table-striped" id="tableOrderView">


                  <tr>
                    <th> Order No </th>
                    <td id="tdOrderNo"></td>

                  </tr>
                  <tr>
                    <th> Customer Name </th>
                    <td id="tdCustomerName"></td>

                  </tr>
                  <tr>
                    <th> Customer Type</th>
                    <td id="tdCustomerType"></td>

                  </tr>
                  <tr>
                    <th>Required Date</th>
                    <td id="tdRequiredDate"></td>
                  </tr>

                  <tr>
                    <th>Session</th>
                    <td id="tdSession"></td>
                  </tr>

                  <tr>
                    <th>Total Price</th>
                    <td id="tdTotalPrice"></td>
                  </tr>

                  <tr>
                    <th>Discounted Price</th>
                    <td id="tdDiscountedPrice"></td>
                  </tr>

                  <tr>
                    <th>Advanced Payment</th>
                    <td id="tdDadvancedPayment"></td>
                  </tr>

                  <tr>
                    <th>Due Payment</th>
                    <td id="tdDduePayment"></td>
                  </tr>
                  <tr>
                    <th>Order Status</th>
                    <td id="tdOrderStatus"></td>
                  </tr>

                  <tr>
                    <th>Vehicle Route</th>
                    <td id="tdVehicleRoute"></td>
                  </tr>




                </table>

              </div>
            </div>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-primary" onclick="printOrderRow()">Print</button>
          </div>
        </div>
      </div>
    </div>



    <div class="row mt-2">

      <div class="col-1"></div>
      <div class="col-10">

        <div class="card card-body" style="background-color: lavender; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);">
          <div class="row mt-2 mb-3 text-center">
            <h5><i class="fa-solid fa-table"></i> <b>Customer Order Table</b></h5>
          </div>
          <div class="row mt-2 mb-3">
            <table class="table table-hover" id="orderTable">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Order No</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Customer Type</th>
                  <th scope="col">Required Date</th>
                  <th scope="col">Session</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Order Status</th>
                  <th scope="col">Vehicle Route</th>
                  <th scope="col">Modify</th>

                </tr>
              </thead>
              <tbody id="tableOrderBody" class="text-start">


                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>




              </tbody>
            </table>

          </div>
        </div>



      </div>
      <div class="col-1"></div>









    </div>











  </div>

  <script src="/script/commonFunctions.js"></script>
  <script src="/script/commonValidationFunctions.js"></script>
  <script src="/uicontroller/customerOrder.js"></script>


</body>

</html>