<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="icon" href="/images/Classic Vintage Cake and Bakery Store Logo.jpeg" type="image/gif" sizes="16*16">
    <!-- link bs5 css file  -->
    <link rel="stylesheet" href="/bootstrap-5.2.3/css/bootstrap.min.css">
    <!-- link bs5 js file -->
    <script src="/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- Link fa css file -->
    <link rel="stylesheet" href="/fontawesome-free-6.6.0-web/fontawesome-free-6.6.0-web/css/all.css">

    <!-- link tooltip css -->
    <link rel="stylesheet" href="/css/tooltip.css">


    <!-- link jQuery -->
    <script src="jQuery/jQuery-3.7.1.min.js"></script>

    <!-- link jQuery table functions -->
    <link href="/datatables/datatables.min.css" rel="stylesheet">
    <script src="/datatables/datatables.min.js"></script>


    <!-- Sweet alert library CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>