<!DOCTYPE html>
<html lang="en">


<!-- Requesting header area from common header page -> header.html using ThymeLeaf Function -->

<head th:replace="header :: headerFragment"></head>

<!-- This is a unique element in head area -->

<head>
  <!-- link external css file -->
  <link rel="stylesheet" href="/css/invoice.css">

</head>


<body>

  <!-- nav bar -->
  <nav th:replace="topnavbar :: topNavbarFragment"></nav>

  <div class="container-fluid">
    <div class="row mt-2 mb-3"></div>
    <div class="row mt-2 mb-5">
      <div class="col-3"></div>
      <div class=" col-6 text-center fw-bold title text-light" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
        <h4><i class=" fa-solid fa-file-lines"></i> Invoice Management</h4>
      </div>
      <div class="col-3"></div>

    </div>

    <div class="row mt-2">
      <div class="col-8"></div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark col-3"
        style="height: 30px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" data-bs-toggle="modal"
        data-bs-target="#modalInvoiceForm"><i class="fa-solid fa-plus"></i>
        <b> Add Invoice</b>
      </button>

      <!-- Modal -->
      <div class="modal fade modal-xl" id="modalInvoiceForm" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-image:url('/images/newwww.jpg');  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">


                <!-- Tabs -->
                <ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tabIndividual" data-bs-toggle="pill" data-bs-target="#pills-home"
                                style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" type=" button" role="tab"
                                aria-controls="pills-home" aria-selected="true">Individual
                            Invoice</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link " id="tabShop" data-bs-toggle="pill" data-bs-target="#pills-profile"
                                style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" type=" button" role="tab"
                                aria-controls="pills-profile" aria-selected="false"
                                >Shop Invoice</button>
                    </li>

                </ul>

                <!-- Tab contents -->
                <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <div class="row">

                        <div class="col-6">
                            <!--                               Individual Order Form Starts-->
                            <form onsubmit="return false " id="invoiceForm1">

                                <div class="row mt-2">

                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="txtDate1" class="form-label"><b>
                                                Date:</b></label>
                                            <input type="date" class="form-control" id="txtDate1"
                                            onchange="invoice.date = this.value,this.classList.add('is-valid')">

                                        </div>
                                    </div>

                                    <div class="col">
                                        <label for="selectCustomerName1" class="form-label"><b>Customer Name :<span
                                                class="text-danger">*</span></b></label>
                                        <select class="form-select" id="selectCustomerName1"
                                                onchange="dynamicElementValidator(this,'invoice','customer_id');" ></select>
                                    </div>


                                </div>

                                <div class="row">

                                    <div class="col">
                                        <label for="selectCustomerOrderNo1" class="form-label"><b>Customer Order No<span
                                                class="text-danger">*</span></b></label>
                                        <select class="form-select" id="selectCustomerOrderNo1"
                                                onchange="dynamicElementValidator(this,'invoice','customer_order_id');"  ></select>
                                    </div>

                                    <div class="col">
                                        <div class="mb-3">
                                            <label for="textTotalPrice1" class="form-label"><b>Total Price:</b></label>
                                            <input type="text" class="form-control" id="textTotalPrice1"
                                                   placeholder="Enter Total Price..!">

                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="textDiscountedPrice1" class="form-label"><b>Discounted Price:</b></label>
                                                <input type="text" class="form-control" id="textDiscountedPrice1">

                                            </div>

                                        </div>


                                        <div class="col">
                                            <label for="selectStatus1" class="form-label"><b>Status :<span
                                                    class="text-danger">*</span></b></label>
                                            <select class="form-select" id="selectStatus1"
                                                    onchange="dynamicElementValidator(this,'invoice','invoice_status_id');"
                                                    ></select>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-6">
                                            <label for="textNote1" class="form-label fw-bold">Note :</label>
                                            <textarea class="form-control" id="textNote1" rows="3"></textarea>

                                        </div>
                                    </div>



                                </div>


                            </form>

                        </div>


                        <!--                            Inner Item Form and Inner Table Starts-->
                        <div class="col-6">
                            <div class="card" style="background-image:url('/images/newwww.jpg'); box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                <div class="card-body">

                                    <div class="row mt-2 mb-3">
                                        <div class="  text-center fw-bold title text-light"
                                             style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                            <h5>Customer Order Item List</h5>
                                        </div>
                                    </div>

                                    <div class="row mt-2 mb-3">
                                        <table class="table table-hover" id="customerOrderInnerTable1">
                                            <thead class="table-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Item Name</th>
                                                <th scope="col">Item Quantity</th>
                                                <th scope="col">Availability</th>
                                                <th scope="col">Line Price</th>
                                                <th scope="col">Ability</th>
                                                <th scope="col">Modify</th>

                                            </tr>
                                            </thead>
                                            <tbody id="customerOrderInnerTable1Body1" style="background-color: white">

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>


                                            </tbody>
                                        </table>

                                    </div>

                                    <hr><hr>

<!--                                    Invoice Form and Table --->
                                    <div class="row">
                                        <div class="  text-center fw-bold title text-light"
                                             style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                            <h5>Invoice Inner Form</h5>
                                        </div>
                                    </div>

                                    <form id="invoiceInnerForm1">
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="selectItem1" class="form-label"><b>Item :<span
                                                        class="text-danger">*</span></b></label>
                                                <select class="form-select" id="selectItem1"
                                                        onchange="dynamicElementValidatorInner(this,'invoiceHasItem','item_id');"
                                                        ></select>
                                            </div>

                                            <div class="col">

                                                <div class="mb-3">
                                                    <label for="txtUnitPrice1" class="form-label"><b>Unit Price:<span
                                                            class="text-danger">*</span></b></label>
                                                    <input type="text" class="form-control" id="txtUnitPrice1"
                                                           onkeyup="generateLinePrice1(),this.classList.add('is-valid')" >
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Looks not good!
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col">

                                                <div class="mb-3">
                                                    <label for="txtItemQuantity1" class="form-label"><b>Item Quantity:<span
                                                            class="text-danger">*</span></b></label>
                                                    <input type="text" class="form-control" id="txtItemQuantity1"
                                                           onkeyup="textValidator(this,'^([0-9]{1,100})$','invoiceHasItem','qty') ,generateLinePrice1();"    placeholder="Ex: Enter Item Quantity">
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Looks not good!
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col">

                                                <div class="mb-3">
                                                    <label for="txtLinePrice1" class="form-label"><b>Line Price:<span
                                                            class="text-danger">*</span></b></label>
                                                    <input type="text" class="form-control" id="txtLinePrice1">
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Looks not good!
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </form>

                                    <div class="row mt-2">

                                        <div class="col-3 text-start">
                                        </div>
                                        <div class="col-9 text-end">
                                            <button type="reset" class="btn btn-info"
                                                    style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                                            <button type="submit" class="btn btn-success"
                                                    style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                                    onclick="buttonInnerFormSubmit1();"><i
                                                    class=" fa-solid fa-plus"></i>Add</button>
                                        </div>
                                    </div>

                                    <hr><hr>

                                    <div class="row mt-2 mb-3">
                                        <div class="  text-center fw-bold title text-light"
                                             style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                            <h5>Invoice Inner Table</h5>
                                        </div>
                                    </div>
                                    <div class="row mt-2 mb-3">
                                        <table class="table table-hover" id="invoiceInnerTable1">
                                            <thead class="table-light">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Item Name</th>
                                                <th scope="col">Item Quantity</th>
                                                <th scope="col">Line Price</th>
                                                <th scope="col">Modify</th>

                                            </tr>
                                            </thead>
                                            <tbody id="tableInnerInvoiceBody1" style="background-color: white">

                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>


                    <!--Buttons-->
                    <div class="row mt-2">

                        <div class="text-end" id="buttonContainer1">
                            <button type="submit" class="btn btn-warning me-2" form="invoiceForm1" id="buttonInvoiceUpdateId1"
                                    style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                    onclick="buttonInvoiceUpdate1();">Update</button>

                            <button type="reset" class="btn btn-info me-2"
                                    style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                            <button type="submit" class="btn btn-success me-2" form="invoiceForm1" id="buttonInvoiceSubmitId1"
                                    style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" onclick="buttonInvoiceSubmit1();"><i
                                    class=" fa-solid fa-plus"></i>Add</button>


                        </div>

                    </div>

                </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <!-- Tab contents -> Shop Invoice -->


                        <div class="row">

                            <div class="col-6">
                                <!--                           Shop Invoice Form Starts -->
                                <form onsubmit="return false " id="invoiceForm2">

                                    <div class="row">

                                        <div class="col-6">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label for="txtDate2" class="form-label"><b>Date:<span
                                                            class="text-danger">*</span></b></label>
                                                    <input type="date" class="form-control" id="txtDate2"
                                                           onchange="invoice.date = this.value ,this.classList.add('is-valid')">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col">
                                            <label for="selectSession2" class="form-label"><b>Session:<span
                                                    class="text-danger">*</span></b></label>
                                            <select class="form-select" id="selectSession2"
                                                    onchange="dynamicElementValidator(this,'invoice','production_session_id');"></select>
                                        </div>

                                    </div>

                                    <div class="row mt-2 mb-3">


                                        <div class="col">
                                            <label for="selectCustomerName2" class="form-label"><b>Customer Name:<span
                                                    class="text-danger">*</span></b></label>
                                            <select class="form-select" id="selectCustomerName2"
                                                    onchange="dynamicElementValidator(this,'invoice','customer_id');"></select>
                                        </div>

                                        <div class="col-6">
                                            <label for="selectOrderNo2" class="form-label"><b> Order No:<span
                                                    class="text-danger">*</span></b></label>
                                            <select class="form-select" id="selectOrderNo2"
                                                    onchange="dynamicElementValidator(this,'invoice','customer_order_id')
                                       "></select>
                                        </div>

                                    </div>


                                    <div class="row mt-2 mb-3">

                                        <div class="col">
                                            <div class="mb-3">
                                                <label for="txtTotalPrice2" class="form-label"><b>Total Price:</b></label>
                                                <input type="text" class="form-control" id="txtTotalPrice2" placeholder=" Total Price">
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <label for="selectStatus2" class="form-label"><b> Status:<span
                                                    class="text-danger">*</span></b></label>
                                            <select class="form-select" id="selectStatus2"
                                                    onchange="dynamicElementValidator(this,'invoice','invoice_status_id');"></select>
                                        </div>

                                    </div>


                                    <div class="row mb-3 col-6">

                                        <label for="textNote2" class="form-label fw-bold">Note :</label>
                                        <textarea class="form-control " id="textNote2" rows="3"></textarea>

                                    </div>


                                </form>
                                <!--Invoice Form Ends -->
                            </div>


                            <!--Shop CustomerOrder Item List Table-->
                            <div class="col-6">

                                <div class="card" style="background-image:url('/images/newwww.jpg');  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                    <div class="card-body">

                                        <div class="row mt-2 mb-3">
                                            <div class="  text-center fw-bold title text-light"
                                                 style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                                <h5>Order Item List</h5>
                                            </div>
                                        </div>
                                        <div class="row mt-2 mb-3">
                                            <table class="table table-hover" id="orderItemListInnerTable">
                                                <thead class="table-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Item Name</th>
                                                    <th scope="col">Required Quantity</th>
                                                    <th scope="col">Available Quantity</th>
                                                    <th scope="col">Line Price</th>
                                                    <th scope="col">Session</th>
                                                    <th scope="col">Ability</th>
                                                    <th scope="col">Modify</th>

                                                </tr>
                                                </thead>
                                                <tbody id="ordeItemListInnerTableBody"  style="background-color: white">

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                </tbody>

                                            </table>

                                        </div>


<!--                                        Invoice Inner Form2-->
                                        <div class="row">
                                            <div class=" text-center fw-bold title text-light"
                                                 style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                                <h5>Invoice Inner Form</h5>
                                            </div>

                                        </div>


                                        <form id="invoiceInnerForm2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="selectItemInner2" class="form-label"><b>Item :<span
                                                            class="text-danger">*</span></b></label>
                                                    <select class="form-select" id="selectItemInner2"
                                                            onchange="dynamicElementValidatorInner(this,'invoiceHasItem','item_id');"></select>
                                                </div>

                                                <div class="col">

                                                    <div class="mb-3">
                                                        <label for="txtUnitPriceInner2" class="form-label"><b>Unit Price:<span
                                                                class="text-danger">*</span></b></label>
                                                        <input type="text" class="form-control" id="txtUnitPriceInner2"
                                                               onkeyup="generateLinePrice2(),this.classList.add('is-valid')">
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Looks not good!
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col">

                                                    <div class="mb-3">
                                                        <label for="txtItemQuantityInner2" class="form-label"><b>Item Quantity:<span
                                                                class="text-danger">*</span></b></label>
                                                        <input type="text" class="form-control" id="txtItemQuantityInner2"
                                                               onkeyup="textValidator(this,'^([0-9]{1,100})$','invoiceHasItem','qty') ,generateLinePrice2();"
                                                               placeholder="Ex: Enter Item Quantity">
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Looks not good!
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col">

                                                    <div class="mb-3">
                                                        <label for="txtLinePriceInner2" class="form-label"><b>Line Price:<span
                                                                class="text-danger">*</span></b></label>
                                                        <input type="text" class="form-control" id="txtLinePriceInner2">
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Looks not good!
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </form>


                                        <div class="row mt-2">

                                            <div class="col-3 text-start">
                                            </div>
                                            <div class="col-9 text-end">
                                                <button type="reset" class="btn btn-info"
                                                        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                                                <button type="submit" class="btn btn-success"
                                                        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                                        onclick="buttonInnerFormSubmit2()"><i
                                                        class="fa-solid fa-plus"></i>Add</button>
                                            </div>

                                        </div>

                                        <hr><hr>

<!--                                        Invoice Inner Table-->
                                        <div class="row mt-2 mb-3">
                                            <div class="  text-center fw-bold title text-light"
                                                 style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                                <h5>Invoice Inner Table</h5>
                                            </div>
                                        </div>
                                        <div class="row mt-2 mb-3">
                                            <table class="table table-hover" id="invoiceInnerTable">
                                                <thead class="table-light">
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Item Name</th>
                                                    <th scope="col">Required Quantity</th>
                                                    <th scope="col">Line Price</th>
                                                    <th scope="col">Modify</th>

                                                </tr>
                                                </thead>
                                                <tbody id="tableInnerInvoiceBody2"  style="background-color: white">

                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>


                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!--Buttons-->
                        <div class="row mt-2">

                            <div class="text-end" id="buttonContainer2">
                                <button type="submit" class="btn btn-warning me-2" form="invoiceForm2" id="buttonInvoiceUpdateId2"
                                        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                        onclick="buttonInvoiceUpdate2();">Update</button>

                                <button type="reset" class="btn btn-info me-2"
                                        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                                <button type="submit" class="btn btn-success me-2" form="invoiceForm2" id="buttonInvoiceSubmitId2"
                                        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" onclick="buttonInvoiceSubmit2();"><i
                                        class=" fa-solid fa-plus"></i>Add</button>

                            </div>

                        </div>

                    </div>
                </div>
          </div>
        </div>
      </div>



      <!-- model view/print -->
      <div class="modal " id="modalInvoiceHeader" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalInvoice">Print Invoice Table</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

              <div class="card">
                <div class="card-body form-area">
                  <table class="table table-hover table-striped" id="tableInvoiceView">


                    <tr>
                      <th>Invoice No </th>
                      <td id="tdInvoiceNo"></td>

                    </tr>
                    <tr>
                      <th>Invoice Date</th>
                      <td id="tdInvoiceDate"></td>
                    </tr>
                    <tr>
                      <th>Customer Name</th>
                      <td id="tdCustomerName"></td>
                    </tr>

                    <tr>
                      <th>Order No</th>
                      <td id="tdOrderNo"></td>
                    </tr>
                    <tr>
                      <th>Total Price </th>
                      <td id="tdTotalPrice"></td>
                    </tr>
                    <tr>
                      <th>Discounted Price</th>
                      <td id="tdDiscountedPrice"></td>
                    </tr>

                    <tr>
                      <th>Invoice Status</th>
                      <td id="tdInvoiceStatus"></td>
                    </tr>


                  </table>

                </div>
              </div>
            </div>

            <div class="modal-footer">

              <button type="button" class="btn btn-primary" onclick="printInvoiceRow()">Print</button>
            </div>
          </div>
        </div>
      </div>





    </div>


    <div class="row mt-2 text-center ">

      <div class="col-1"></div>
      <div class="col-10">

        <div class="card card-body" style="background-color: lavender; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);">
          <div class="row mt-2 mb-3">
            <h5><i class="fa-solid fa-table"></i> <b>Invoice Table</b></h5>
          </div>
          <div class="row mt-2 mb-3">
            <table class="table table-hover" id="invoiceTable">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Invoice No</th>
                  <th scope="col">Date</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Order No</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Status</th>
                  <th scope="col">Modify</th>

                </tr>
              </thead>
              <tbody id="tableInvoiceBody">

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

              </tbody>
            </table>

          </div>
        </div>



      </div>
      <div class="col-1"></div>



    </div>


  </div>


  <script src="/script/commonFunctions.js"></script>
  <script src="/script/commonValidationFunctions.js"></script>
  <script src="/uicontroller/invoice.js"></script>

      </div>
</body>

</html>