<!DOCTYPE html>
<html lang="en">


<!-- Requesting header area from common header page -> header.html using ThymeLeaf Function -->

<head th:replace="header :: headerFragment"></head>

<!-- This is a unique element in head area -->

<head>
    <!-- link external css file -->
    <link rel="stylesheet" href="/css/item.css">

</head>

<body>

    <!-- nav bar -->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>

    <div class="container-fluid">
        <div class="row mt-2 mb-3"></div>
        <!-- Title Row -->
        <div class="row mt-2 mb-3">
            <div class="col-3"></div>
            <div class=" col-6 text-center fw-bold title text-light"
                style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                <h4><i class="fa-solid fa-hotdog"></i> Item Form</h4>
            </div>
            <div class="col-3"></div>
        </div>

        <!-- Form Row -->
        <div class="row">

            <div class="col">
                <div class="card" style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="card"
                                    style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                    <div class="card-body">
                                        <form onsubmit="return false " id="itemForm">
                                            <div class="row mt-2 mb-3">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label for="txtItemName" class="form-label"><b>Item
                                                                Name:<span class="text-danger">*</span></b></label>
                                                        <input type="text" class="form-control" id="txtItemName"
                                                            placeholder="Enter Item Name"
                                                            onchange="item.item_name=this.value;">
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <label for="selectItemCategoryType" class="form-label"><b>Item
                                                            Category
                                                            :<span class="text-danger">*</span></b></label>
                                                    <select class="form-select" id="selectItemCategoryType"
                                                        onchange=" dyanamicElementValidator(this,'item','item_category_id');"></select>
                                                </div>

                                            </div>


                                            <div class="row mt-2 mb-3">
                                                <div class="col-6">
                                                    <label for="selectItemStatus" class="form-label"><b>Item
                                                            Status:<span class="text-danger">*</span></b></label>
                                                    <select class="form-select" id="selectItemStatus"
                                                        onchange=" dyanamicElementValidator(this,'item','item_status_id');"></select>
                                                </div>



                                            </div>







                                            <div class="row mt-2"></div>
                                            <div class="row mt-2"></div>
                                            <div class="row mt-2"></div>




                                            <div class="row mb-3">



                                                <label for="textNote" class="form-label fw-bold">Note
                                                    :</label>
                                                <textarea class="form-control" id="textNote" rows="2"></textarea>

                                            </div>


                                        </form>


                                    </div>


                                </div>


                            </div>

                            <div class="col-6">

                                <div class="card">
                                    <div class="card-body">
                                        <div class="card"
                                            style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="  text-center fw-bold title text-light"
                                                        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                                        <h5>Item Inner Form</h5>
                                                    </div>

                                                    <div class="row"></div>
                                                    <div class="row"></div>

                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3">
                                                            <label for="txtMaterial" class="form-label"><b>Material
                                                                    Name:<span class="text-danger">*</span></b></label>
                                                            <input type="text" class="form-control" id="txtMaterial"
                                                                placeholder="Ex: Enter Item Name">
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                Looks not good!
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col">

                                                        <div class="mb-3">
                                                            <label for="txtMaterialQuantity"
                                                                class="form-label"><b>Material
                                                                    Quantity:<span
                                                                        class="text-danger">*</span></b></label>
                                                            <input type="text" class="form-control"
                                                                id="txtMaterialQuantity"
                                                                placeholder="Ex: Enter Item Quantity">
                                                            <div class="valid-feedback">
                                                                Looks good!
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                Looks not good!
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>




                                                <div class="row mt-2">

                                                    <div class="col-3 text-start">
                                                    </div>
                                                    <div class="col-9 text-end">
                                                        <button type="reset" class="btn btn-info"
                                                            style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                                                        <button type="submit" class="btn btn-success"
                                                            style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"><i
                                                                class="fa-solid fa-plus"></i>Add</button>




                                                    </div>


                                                </div>




                                            </div>
                                        </div>

                                        <br><br>

                                        <div class="card"
                                            style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                            <div class="card-body">

                                                <div class="row mt-2 mb-3">
                                                    <div class="  text-center fw-bold title text-light"
                                                        style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                                        <h5>Item Inner Table</h5>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 mb-3">
                                                    <table class="table table-hover" id="itemInnerTable">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Material</th>
                                                                <th scope="col">Material Qty</th>
                                                                <th scope="col">Modify</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="tableInnerItemBody">

                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>


                                                        </tbody>
                                                    </table>

                                                </div>



                                            </div>
                                        </div>




                                    </div>
                                </div>



                            </div>

                        </div>

                        <div class="row">

                            <div class="text-start col-3">
                                <button type="reset" class="btn btn-info mt-2"
                                    style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                    onclick="refreshForm()">Clear</button>
                            </div>

                            <div class="text-end col-9" id="buttonContainer">
                                <button type="submit" class="btn btn-warning me-2" onclick="buttonItemUpdate()"
                                    id="buttonUpdate" form="itemForm"
                                    style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Update</button>

                                <button type="submit" class="btn btn-success" onclick="buttonItemSubmit()"
                                    style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);" id="buttonSubmit"
                                    form="itemForm"><i class="fa-solid fa-plus"></i>Add</button>
                            </div>
                        </div>



                    </div>
                </div>

            </div>





        </div>

        <script src="/script/commonFunctions.js"></script>
        <script src="/script/commonValidationFunctions.js"></script>
        <script src="/uicontroller/itemForm.js"></script>

</body>

</html>