<!DOCTYPE html>
<html lang="en">


<!-- Requesting header area from common header page -> header.html using ThymeLeaf Function -->

<head th:replace="header :: headerFragment"></head>

<!-- This is a unique element in head area -->

<head>
  <!-- link external css file -->
  <link rel="stylesheet" href="/css/purchaseOrder.css">

</head>


<body>

  <!-- nav bar -->
  <nav th:replace="topnavbar :: topNavbarFragment"></nav>

  <div class="container-fluid">
    <div class="row mt-2 mb-3"></div>
    <div class="row mt-2 mb-5">
      <div class="col-3"></div>
      <div class=" col-6 text-center fw-bold title text-light" style="box-shadow: 0px 4px 6px rgba(0, 0,
                0, 0.901);">
        <h4><i class="fa-solid fa-truck-droplet"></i> Purchase Order Management</h4>
      </div>
      <div class="col-3"></div>

    </div>


    <div class="row mt-2">
      <div class="col-8"></div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark col-3" style="height: 30px;  box-shadow: 0px 4px 6px rgba(0, 0,
                0, 0.901);" data-bs-toggle="modal" data-bs-target="#modalPoForm"><i class="fa-solid fa-plus"></i>
        <b>Add Purchase Order</b>
      </button>

      <!-- Modal -->
      <div class="modal fade modal-xl" id="modalPoForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body" style="background-image:url('/images/newwww.jpg');  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                <div class="row">
                    <div class="col-6">
                        <!--PO form starts here-->
                        <form onsubmit="return false " id="poForm">

                            <div class="row">
                                <div class="col">
                                    <label for="selectSupplier" class="form-label"><b>Supplier Name :<span
                                            class="text-danger">*</span></b></label>
                                    <select class="form-select" id="selectSupplier"
                                            onchange="dynamicElementValidator(this,' purchaseOrder','supplier_id');"></select>
                                </div>

                                <div class="col">
                                    <div class="mb-3">
                                        <label for="txtTotal" class="form-label"><b>Total Price:<span
                                                class="text-danger">*</span></b></label>
                                        <input type="text" class="form-control" id="txtTotal"
                                               onchange="purchaseOrder.total_price = this.value;">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2 mb-3">

                                <div class="col">
                                    <div class="mb-3">
                                        <label for="txtRequiredDate" class="form-label"><b>Required Date:</b></label>
                                        <input type="date" class="form-control" id="txtRequiredDate"
                                               onchange="dateValidator(this,'purchaseOrder','required_date');">
                                    </div>
                                </div>

                                <div class="col">
                                    <label for="selectPoStatus" class="form-label"><b>Purchase Order Status :<span
                                            class="text-danger">*</span></b></label>
                                    <select class="form-select" id="selectPoStatus"
                                            onchange="dynamicElementValidator(this,'purchaseOrder','purchase_order_status_id');"></select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="textNote" class="form-label fw-bold">Note :</label>
                                    <textarea class="form-control ms-2" id="textNote" rows="3"></textarea>
                                </div>


                            </div>

                        </form>
                        <!-- Form Ends Here-->
                    </div>
                    <!--PO inner form and Inner Table Starts-->
                    <div class="col-6">

                        <div class="card" style="background-image:url('/images/newwww.jpg');  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                            <div class="card-body">
                                <div class="row">
                                    <div class="  text-center fw-bold title text-light"
                                         style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                        <h5>Material Form</h5>
                                    </div>

                                    <hr><hr>

                                </div>

                                <!--Form Starts-->
                                <form id="materialInnerForm">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for="selectMaterial" class="form-label"><b>Material Name :<span
                                                    class="text-danger">*</span></b></label>
                                            <select class="form-select" id="selectMaterial"
                                                    onchange="dynamicElementValidator2(this,'purchaseOrderMaterial','material_id');"></select>
                                        </div>

                                        <div class="col">
                                            <label for="txtPurchasePrice"
                                                   class="form-label"><b>Purchase Price:<span
                                                    class="text-danger">*</span></b></label>
                                            <input type="text" class="form-control"
                                                   id="txtPurchasePrice"
                                                   placeholder="Ex: Enter Purchase Price..!"
                                                   onkeyup="textValidator(this,'^([1-9][0-9]{1,5})|([1-9][0-9]{1,5}[.][0-9]{2})$','purchaseOrderMaterial','purchase_price')">
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Looks not good!
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row mt-2">
                                        <div class="col">
                                            <label for="txtQuantity"
                                                   class="form-label"><b>Quantity:<span
                                                    class="text-danger">*</span></b></label>
                                            <input type="text" class="form-control"
                                                   id="txtQuantity"
                                                   placeholder="Ex: Enter Quantity..!"
                                                   onkeyup="textValidator(this,'^([1-9]{1,100})$','purchaseOrderMaterial','quantity')">
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Looks not good!
                                            </div>
                                        </div>

                                        <div class="col">
                                            <label for="txtLinePrice"
                                                   class="form-label"><b>Line Price:<span
                                                    class="text-danger">*</span></b></label>
                                            <input type="text" class="form-control"
                                                   id="txtLinePrice"
                                                   placeholder="Ex: Enter Line Price..!"
                                                   onkeyup="textValidator(this,'^([1-9][0-9]{1,5})|([1-9][0-9]{1,5}[.][0-9]{2})$','purchaseOrderMaterial','line_price')">
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Looks not good!
                                            </div>
                                        </div>
                                    </div>

                                </form>
                                <!- Form Ends-->

                                <div class="row mt-2 mt-2">

                                    <div class="col-3 text-start">
                                    </div>
                                    <div class="col-9 text-end">
                                        <button type="reset" class="btn btn-info"
                                                style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                                        <button type="submit" class="btn btn-success"
                                                style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                                onclick="buttonInnerFormSubmit()"><i
                                                class="fa-solid fa-plus"></i>Add</button>
                                    </div>
                                </div>


                                <hr><hr>
                                <div class="row mt-2 mb-3">
                                    <div class="  text-center fw-bold title text-light"
                                         style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);background-color: #997645">
                                        <h5>Material Table</h5>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-3">
                                    <table class="table table-hover" id="materialInnerTable">
                                        <thead class="table-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Material</th>
                                            <th scope="col">Purchase Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Line Price</th>
                                            <th scope="col">Modify</th>

                                        </tr>
                                        </thead>
                                        <tbody id="tableInnerMaterialBody" style="background-color: white">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>


                                        </tbody>
                                    </table>

                                </div>

                                <!--PO inner form and Inner Table Ends-->
                            </div>
                        </div>

                    </div>

                </div>

                <!--              Buttons-->

                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <!--Buttons-->
                        <div class="text-end" id="buttonContainer">
                            <button type="reset" class="btn btn-info me-1" style=" box-shadow: 0px 4px 6px rgba(0, 0,0, 0.901);">Clear</button>

                            <button type="submit" class="btn btn-warning me-2" id="buttonUpdate" style=" box-shadow: 0px 4px 6px rgba(0, 0,
                0, 0.901);" onclick="buttonPurchaseOrderUpdate()">Update</button>

                            <button type="submit" class="btn btn-success" id="buttonSubmit" style=" box-shadow: 0px 4px 6px rgba(0, 0,0, 0.901);" onclick="buttonPurchaseOrderSubmit()"><i class="fa-solid fa-plus"></i>Add</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

      </div>
    </div>

    <!-- model view/print -->
    <div class="modal " id="modalPoView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
              <div class="w-100 text-center">
                  <h5 class="modal-title" id="modalPoViewTitle">Purchase Order Details</h5>
              </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="card">
              <div class="card-body form-area">
                <table class="table table-hover table-striped" id="tablePoView">


                  <tr>
                    <th>Purcahase Order No </th>
                    <td id="tdOrderNo"></td>

                  </tr>
                  <tr>
                    <th>Supplier Name</th>
                    <td id="tdSupplierName"></td>
                  </tr>
                  <tr>
                  <tr>
                    <th>Total Price</th>
                    <td id="tdTotalPrice"></td>
                  </tr>

                  <tr>
                    <th>Required Date</th>
                    <td id="tdRequiredDate"></td>
                  </tr>

                  <tr>
                    <th>Status</th>
                    <td id="tdStatus"></td>
                  </tr>

                </table>

              </div>
            </div>
          </div>

          <div class="modal-footer">

            <button type="button" class="btn btn-primary" onclick="printPoRow()">Print</button>
          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- Purchase Order Table -->
  <div class="row mt-2 text-center ">

    <div class="col-1"></div>
    <div class="col-10">

      <div class="card card-body" style="background-color: lavender; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);">
        <div class="row mt-2 mb-3">
          <h5><i class="fa-solid fa-table"></i> <b>Purchase Order Table</b></h5>
        </div>
        <div class="row mt-2 mb-3">
          <table class="table table-hover" id="purchaseOrderTable">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Purchase Order No</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Total Price</th>
                <th scope="col">Required Date</th>
                <th scope="col">Status</th>
                <th scope="col">Modify</th>

              </tr>
            </thead>
            <tbody id="tablePurchaseOrderBody" class="text-start">

              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>

            </tbody>
          </table>

        </div>
      </div>



    </div>
    <div class="col-1"></div>


  </div>



  <script src="/script/commonValidationFunctions.js"></script>
  <script src="/script/commonFunctions.js"></script>
  <script src="/uicontroller/purchaseOrder.js"></script>

      </div>
</body>

</html>