<!DOCTYPE html>
<html lang="en">


<!-- Requesting header area from common header page -> header.html using ThymeLeaf Function -->

<head th:replace="header :: headerFragment"></head>

<!-- This is a unique element in head area -->

<head>
    <!-- link external css file -->
    <link rel="stylesheet" href="/css/walkingCustomer.css">

</head>

<body>

    <!-- nav bar -->
    <nav th:replace="topnavbar :: topNavbarFragment"></nav>

    <div class="container-fluid">
        <div class="row mt-2 mb-3"></div>
        <div class="row mt-2 mb-5">
            <div class="col-3"></div>
            <div class=" col-6 text-center fw-bold title text-light" style=" box-shadow: 0px 4px 6px rgba(0, 0,
                0, 0.901);">
                <h4><i class="fa-solid fa-person-walking"></i> Walking Customer</h4>
            </div>
            <div class="col-3"></div>

        </div>




        <div class="row mt-2">
            <div class="col-8"></div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark col-3" style="height: 30px;  box-shadow: 0px 4px 6px rgba(0, 0,
                0, 0.901);" data-bs-toggle="modal" data-bs-target="#walkingCustomerForm"><i
                    class="fa-solid fa-plus"></i>
                <b>Walking Customer Form</b>
            </button>



            <!-- Modal -->
            <div class="modal fade modal-xl" id="walkingCustomerForm" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"
                            style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="card"
                                                style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                                <div class="card-body">
                                                    <form onsubmit="return false " id="walkingCustomerForm">


                                                        <div class="row mt-2 mb-3">
                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label for="dateDate"
                                                                        class="form-label"><b>Date:<span
                                                                                class="text-danger">*</span></b></label>
                                                                    <input type="date" class="form-control"
                                                                        onchange=" walkingCustomer.date = this.value"
                                                                        id="dateDate">
                                                                </div>
                                                            </div>


                                                            <div class="col">
                                                                <div class="mb-3">
                                                                    <label for="txtTotalItemsSold"
                                                                        class="form-label"><b>Total Items Sold:<span
                                                                                class="text-danger">*</span></b></label>
                                                                    <input type="text" class="form-control"
                                                                        onkeyup=" walkingCustomer.total_items_sold = this.value"
                                                                        id="txtTotalItemsSold"
                                                                        placeholder="Enter Total Items Sold..!">
                                                                </div>

                                                            </div>


                                                        </div>


                                                        <div class="row mt-2 mb-3">

                                                            <div class="col-6">
                                                                <div class="mb-3">
                                                                    <label for="txtTotalIncome"
                                                                        class="form-label"><b>Total Income:<span
                                                                                class="text-danger">*</span></b></label>
                                                                    <input type="text" class="form-control"
                                                                        id="txtTotalIncome"
                                                                        onkeyup="walkingCustomer.total_price =this.value"
                                                                        placeholder="Enter Today's Total Income..!">
                                                                </div>

                                                            </div>


                                                        </div>









                                                        <div class="row mt-2"></div>
                                                        <div class="row mt-2"></div>
                                                        <div class="row mt-2"></div>




                                                        <div class="row mb-3">



                                                            <label for="textNote" class="form-label fw-bold">Note
                                                                :</label>
                                                            <textarea class="form-control" id="textNote"
                                                                rows="2"></textarea>

                                                        </div>


                                                    </form>


                                                </div>


                                            </div>


                                        </div>

                                        <div class="col-6">

                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card"
                                                        style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                                        <div class="card-body">

                                                            <div class="row">
                                                                <div class="  text-center fw-bold title text-light">
                                                                    <h5>Item Inner Form</h5>
                                                                </div>

                                                                <div class="row"></div>
                                                                <div class="row"></div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="mb-3">
                                                                        <label for="txtItem" class="form-label"><b>Item
                                                                                Name:<span
                                                                                    class="text-danger">*</span></b></label>
                                                                        <input type="text" class="form-control"
                                                                            id="txtItem"
                                                                            placeholder="Ex: Enter Item Name">
                                                                        <div class="valid-feedback">
                                                                            Looks good!
                                                                        </div>
                                                                        <div class="invalid-feedback">
                                                                            Looks not good!
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col">

                                                                    <div class="mb-3">
                                                                        <label for="txtItemQuantity"
                                                                            class="form-label"><b>Item
                                                                                Quantity:<span
                                                                                    class="text-danger">*</span></b></label>
                                                                        <input type="text" class="form-control"
                                                                            id="txtItemQuantity"
                                                                            placeholder="Ex: Enter Item Quantity">
                                                                        <div class="valid-feedback">
                                                                            Looks good!
                                                                        </div>
                                                                        <div class="invalid-feedback">
                                                                            Looks not good!
                                                                        </div>
                                                                    </div>

                                                                </div>


                                                            </div>




                                                            <div class="row mt-2">

                                                                <div class="col-3 text-start">
                                                                </div>
                                                                <div class="col-9 text-end">
                                                                    <button type="reset" class="btn btn-info"
                                                                        style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">Clear</button>

                                                                    <button type="submit" class="btn btn-success"
                                                                        style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"><i
                                                                            class="fa-solid fa-plus"></i>Add</button>




                                                                </div>


                                                            </div>




                                                        </div>
                                                    </div>

                                                    <br><br>

                                                    <div class="card"
                                                        style="background-color: darkgrey;  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);">
                                                        <div class="card-body">

                                                            <div class="row mt-2 mb-3">
                                                                <div class="  text-center fw-bold title text-light">
                                                                    <h5>Item Inner Table</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-2 mb-3">
                                                                <table class="table table-hover" id="itemInnerTable">
                                                                    <thead class="table-dark">
                                                                        <tr>
                                                                            <th scope="col">#</th>
                                                                            <th scope="col">Item</th>
                                                                            <th scope="col">Item Qty</th>
                                                                            <th scope="col">Modify</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tableInnerItemBody">

                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>


                                                                    </tbody>
                                                                </table>

                                                            </div>



                                                        </div>
                                                    </div>




                                                </div>
                                            </div>



                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="text-start col-3">
                                            <button type="reset" class="btn btn-info"
                                                style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                                onclick="refreshForm()">Clear</button>
                                        </div>

                                        <div class="text-end col-9" id="buttonContainer">
                                            <button type="submit" class="btn btn-warning me-2"
                                                style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                                onclick="buttonWalkingCustomerUpdate()" id="buttonUpdate"
                                                form="itemForm">Update</button>

                                            <button type="submit" class="btn btn-success "
                                                onclick="buttonWalkingCustomerSubmit()" id="buttonSubmit"
                                                style=" box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.901);"
                                                form="itemForm"><i class="fa-solid fa-plus"></i>Add</button>
                                        </div>
                                    </div>



                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>








            <!-- model view/print -->
            <div class="modal " id="modalWalkingCustomerView" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalWalkingCustomerView">Walking Customer Income View</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">

                            <div class="card">
                                <div class="card-body form-area">
                                    <table class="table table-hover table-striped" id="TablewalkingCustomerView">


                                        <tr>
                                            <th>Date </th>
                                            <td id="tdDate"></td>

                                        </tr>
                                        <tr>
                                            <th>Total Items Sold </th>
                                            <td id="tdTotalItemsSold"></td>
                                        </tr>
                                        <tr>
                                            <th>TotalIncome </th>
                                            <td id="tdTotalIncome"></td>
                                        </tr>
                                        <tr>





                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary"
                                onclick="printWalkingCustomerRow()">Print</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>















        <div class="row mt-2 text-center ">

            <div class="col-1"></div>
            <div class="col-10">

                <div class="card card-body"
                    style="background-color: lavender; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);">
                    <div class="row mt-2 mb-3">
                        <h5><i class="fa-solid fa-table"></i> <b>Walking Customer Table</b></h>
                    </div>
                    <div class="row mt-2 mb-3">
                        <table class="table table-hover" id="walkingCustomerTable">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total Items Sold</th>
                                    <th scope="col">Total Income</th>
                                    <th scope="col">Modify</th>

                                </tr>
                            </thead>
                            <tbody id="walkingCustomerTableBody" class="text-start">


                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>



                            </tbody>
                        </table>

                    </div>
                </div>



            </div>
            <div class="col-1"></div>









        </div>













    </div>

    <script src="/script/commonFunctions.js"></script>
    <script src="/script/commonValidationFunctions.js"></script>
    <script src="/uicontroller/walkingcustomer.js"></script>

</body>

</html>